* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-image: url(./Images/bcg-img.png);
}
header .header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;
}
header .header-top .h-links {
  width: 400px;
  display: flex;
  justify-content: space-between;
  color: white;
}
header .header-top .f-a-s {
  color: white;
  width: 120px;
  display: flex;
  justify-content: space-between;
}
header nav {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
header nav .nav-1 {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-left: 50px;
}
header nav .nav-2 {
  width: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
header nav .nav-2 .btn {
  color: white;
  background-color: #5956e9;
  padding: 10px;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}
header nav .nav-2 .btn:hover {
  box-shadow: 0 0 20px #5956e9;
}
header nav .logo {
  padding: 35px 20px;
  background-color: white;
  box-shadow: 0 0 10px gray;
  border-radius: 6px;
  position: absolute;
  transform: translate(530px, -5px);
  cursor: pointer;
}
header .showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
header .showcase .portion .ramka {
  position: absolute;
  z-index: 1;
  transform: translate(100px, -60px);
}
header .showcase .portion .app {
  background-color: white;
  padding: 10px;
  width: 550px;
  z-index: 99;
  margin-right: 100px;
  position: relative;
}
header .showcase .portion .app h1 {
  font-weight: 700;
  font-size: 48.83px;
  line-height: 63px;
  text-transform: uppercase;
  color: #5956e9;
  padding-bottom: 20px;
}
header .showcase .portion .app p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 40px;
}
header .showcase .portion .app strong {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  text-transform: uppercase;
}
header .showcase .portion .app img {
  padding-top: 15px;
  padding-bottom: 25px;
}

#about {
  margin-top: 100px;
}
#about h2 {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 47px;
  text-align: center;
}
#about p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}
#about .showcase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
#about .showcase .portion {
  flex: 1;
}
#about .showcase .portion .design {
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(203, 203, 203);
  margin-bottom: 35px;
}
#about .showcase .portion .design .nothing {
  display: flex;
  align-items: center;
}
#about .showcase .portion .design .nothing h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-left: 12px;
}
#about .showcase .portion .design .nothing .check {
  color: #5956e9;
  font-size: 20px;
}
#about .showcase .portion .design p {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 30px;
  width: 480px;
  height: 70px;
  color: gray;
}